*.pyc
*.txt

.idea/
*/.idea/

grid_loadcase
lc1
tests/lc1
DINAMA/plugin/python/multigrid/mos
tests/mos
DINAMA/plugin/python/grid_web_app/mos
lc
env
build
dist


multigrid/multigrid.iml
grid_web_app/grid_web_app.iml
grid_web_app/files
grid_web_app/input_files

celerybeat-schedule
