*.pyc
*.txt

.idea/
*/.idea/

grid_loadcase
lc1
tests/lc1
DINAMA/plugin/python/multigrid/mos
tests/mos
DINAMA/plugin/python/grid_web_app/mos

multigrid/multigrid.iml
grid_web_app/grid_web_app.iml
grid_web_app/files

celerybeat-schedule
