{% extends "base.html" %}

{% block content %}

    <div>
        <div class="page-header">
            <h3 id="addingModelLabel">Новая модель</h3>
        </div>
        <div>
            <form action="/create_model/" method="POST" id="create_model" name="model_data" class="navbar-form offset1" enctype="multipart/form-data">{% csrf_token %}
                <p>
                <h4>Тип модели:</h4>
                {% comment %}<input id="add_model" type="text" name="model_type" class="span3"  placeholder="Model type">{% endcomment %}
                <select name="model_type" class="span3">
                    {% for model_type in model_types %}
                        <option value="{{ model_type }}">{{ model_type }}</option>
                    {% endfor %}
                </select>

                <p>
                <h4>Модель:</h4>
                <input type="text" name="model" class="span3"  placeholder="Model">

                <div>
                    <input type="file" name="file_model" class="span3">
                </div>

                <div>
                    <button type="submit"  class="btn btn-primary">Создать</button>
                </div>

            </form>
        </div>
    </div>

{%  endblock %}

