{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="span8 offset1 ">
            <form action="/create_job/" method="POST" id="create_job" class="navbar-form offset1">{% csrf_token %}
                <div>
                    <h4>Название задачи:</h4>
                    <input type="text" id="job_name_id" name="job_name" class="span3"  placeholder="Job name" >
                </div>

                <div>
                    <h4>Описание:</h4>
                    <textarea rows="3" class="span3" name="job_description" placeholder="What's this job about?"></textarea>
                </div>

                <div>
                    <h4>Расчетные случаи:</h4>
                    {% comment %}<textarea rows="3" class="span3" id="loadcases_id" name="loadcases" placeholder="Loadcases"></textarea>{% endcomment %}
                    <select name="loadcases" multiple="multiple" class="span3">
                        {% for name, id in loadcases %}
                            <option value="{{ id }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                    <button type="button" onclick="location.href = '/create_loadcase/';">Add new Loadcase</button>
                </div>

                <div>
                    <h4>Входные параметры:</h4>
                    <textarea rows="3" class="span3" name="input_parameters" placeholder="Input Parameters"></textarea>
                </div>
                {% comment %}{{ form.non_field_errors }}
                <div class="fieldWrapper">
                    {{ form.name.errors }}
                    <h4>Job name:</h4>
                    {{ form.name }}
                </div>

                <div class="fieldWrapper">
                    {{ form.description.errors }}
                    <h4>Job description:</h4>
                    {{ form.description }}
                </div>

                <div class="fieldWrapper">
                    {{ form.loadcases.errors }}
                    <h4>Loadcases:</h4>
                    {{ form.loadcases }}
                    <button type="button">Add new Loadcase</button>
                </div>

                <div class="fieldWrapper">
                    {{ form.input_params.errors }}
                    <h4>Input parameters:</h4>
                    {{ form.input_params }}
                </div>{% endcomment %}
                <div>
                    <button type="submit"  class="btn btn-primary center">Create Job</button>
                </div>
            </form>
        </div>
    </div>

{%  endblock %}

