{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div >
            <p><h2 class="text-center"> Задачи </h2></p>
        </div>
        {% include "base_jobs.html" %}
    </div>
    <!-- JobsListing END -->


    <!-- AddJob Begin -->
    <div class="row">
        <div class="span8 offset2 ">
            <a href="#addingJob" role="button" class="btn btn-large btn-block btn-primary" onclick="window.location.href ='/create_job/'">+ Создать работу</a>
        </div>
    </div>
    <!-- AddJob END -->


    <!-- Paginator Begin -->


    <div class="pagination pagination-centered">
        <ul>

            {% if not data.has_previous %}
                <li class="disabled">
                    <a>Назад</a>
                    {% else %}
                <li>
                <a href="?page={{ data.previous_page_number }}">Назад</a>
            {% endif %}
            </li>
            {% for num in num_pages %}
                {% if num == data.number %}
                    <li class="active">
                        <a href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            <li>
                {% if not data.has_next %}
                    <li class="disabled">
                        <a>Вперед</a>
                        {% else %}
                    <li>
                    <a href="?page={{ data.next_page_number }}">Вперед</a>
                {% endif %}
                </li>

        </ul>
    </div>
    <!-- Paginator END -->

{% endblock %}