{% extends "base.html" %}

{% block content %}
    <div class="center span6">
        <form name="profile" method="POST" class="form-horizontal" action="" >
            {% csrf_token %}
            {% for error in errors.values %}
                <div class="alert alert-error">
                    {{ error }}
                </div>
            {% endfor %}
            <fieldset>
                <legend>Профиль {{ data.name }}</legend>
                <div class="control-group">
                </div>
                <div class="control-group">
                    <label class="control-label" for="Email">Email</label>
                    <div class="controls">
                        <input type="text" name="email" id="Email" placeholder="Email" value="{{ data.email }}">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Изменить профиль</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}