{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div >
            <p>
            <h2 class="text-center"> Задачи </h2>
            {% if data%}
                <h4 class="text-center">Результаты запроса <i>"{{ query }}"</i></h4>
            {% else %}
                <h4 class="text-center">По запросу <i>"{{ query }}"</i> ничего не найдено</h4>
            {% endif %}
            </p>
        </div>
        {% include "base_jobs.html" %}
        <div class="offset2" >
            <a class="centered" href="/jobs/">Назад к списку задач</a>
        </div>
    </div>

{% endblock %}